.profile {
    display: flex;
    flex-direction: row;
    margin-bottom: 47px;
   max-width: 880px;
}


@media screen and (max-width: 320px) {
    .profile {
        flex-direction: column;
        align-items: center;
    
  }
    }