.popup__save {
    width: 358px;
      height: 50px;
      margin: 18px 36px 35px 36px;
      background: #000000;
      border-radius: 2px;
      color: #FFFFFF;
      cursor: pointer;
      background-position: center;
      background-image: url(../../../image/Rectangle\ \(2\).png);
    
    }
    .popup__save:hover {
        opacity: .8;
    }
    
    @media screen and (max-width: 320px) {
        .popup__save {
            width: 238px;
            height: 46px;
            margin: 45px 22px 25px 22px;
        }
         
        }