.header__logo {
    margin-top: 45px;
    margin-bottom: 40px;
 }
 @media screen and (max-width: 320px) {
    .header__logo {
        margin: 0;
        margin-left: 28px;
        width: 104px;
        height: 24px;
    }
     
    }