.profile__title {
    width: 90%;
    margin: 0;
    font-family: Inter;
font-size: 42px;
font-style: normal;
font-weight: 500;
line-height: 48px;
letter-spacing: 0em;
text-align: left;

  }