.profile__btn-add {
height: 50px;
width: 150px;
border-radius: 2px;
background: #2A2C2F;
border: 2px solid #FFFFFF;
box-sizing: border-box;
background-image: url(/image/Add\ Button.png);
}
.profile__btn-add:hover {
opacity: .5;
}
@media screen and (max-width: 320px) {
    .profile__btn-add {
      margin-top: 36px;
    }
     
    }
    @media screen and (max-width: 768px) {
      .profile__btn-add {
        margin-top: 36px;
      }
       
      }