.profile__avatar {
    border-radius: 50%;
    width: 127px;
    height: 127px;
  }
  @media screen and (max-width: 320px) {
    .profile__avatar {
      margin-bottom: 22px;
    }
     
    }