.profile__avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }
  @media screen and (max-width: 320px) {
    .profile__avatar {
      margin-bottom: 25px;
    }
     
    }