.profile__info {
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 40px;
    margin-right: 25%;
    height: 73px;
margin-top: 27px;
  }
  @media screen and (max-width: 320px) {
    .profile__info {
       margin: 0;
       justify-content: center;
    }
     
    }
    @media screen and (max-width: 768px) {
      .profile__info {
         margin: 0;
         justify-content: center;
         margin-right: 10%;
         width: 350px;
      }
       
      }