.footer {
    margin: 33px auto 60px;
    max-width: 880px;
}

@media screen and (max-width: 320px) {
    .footer {
        margin: 27px auto 60px;
        font-size: 14px;
        line-height: 17px;
    }

}