
  .element {
    width: 282px;
    background: #FFFFFF;
    height: 361px;
    margin-right: 17px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;

  }
  .element:nth-child(3n){
    margin-right: 0;
  }
