.heart__empty {
    height: 19px;
    width: 17px;
    border: none;
    background: #FFFF;
    background-image: url(../../../image/heart.svg);
    background-image: no-repeat;
    align-self: center;
    cursor: pointer;
    margin: 0;
    padding: 0 5px 0 0;
    }
    .heart__empty:hover {
        opacity: .6;
    }